# virtual environment
venv/
.venv/
.env

# project files
temp/
testing/
output/
test.py
*.m4a
*.m4b
*.mp3

# python
__pycache__/
*.pyc

# Build
*.egg-info
dist/

# repomix
m4b_converter.egg-info
repomix-output.xml